html, body {
    min-height: 100%;
}

body {
    background-color: #B5BECF;
    background-image: -ms-radial-gradient(center, ellipse cover, #B5BECF 0%, #78849A 100%);
    background-image: -moz-radial-gradient(center, ellipse cover, #B5BECF 0%, #78849A 100%);
    background-image: -o-radial-gradient(center, ellipse cover, #B5BECF 0%, #78849A 100%);
    background-image: -webkit-gradient(radial, center center, 0, center center, 140, color-stop(0, #B5BECF), color-stop(1, #78849A));
    background-image: -webkit-radial-gradient(center, ellipse cover, #B5BECF 0%, #78849A 100%);
    background-image: radial-gradient(ellipse cover at center, #B5BECF 0%, #78849A 100%);
    font: 16px "Lucida Grande", Tahoma, Verdana, sans-serif;
    letter-spacing: .5px;
}

#GameBoard {
    margin-top: 10%;
    margin-left: 30%;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* styles for demo only.
feel free to remove the following html and body styles for your design*/
html {
    height: 100%;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

a {
    cursor: pointer;
}

/* Global Variables
***************************************************************/
/* Heading and buttons */
/* Secondary headings */
/* Main text color */
/* Borders and chevrons */
/* Secondary page color */
.border-box {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

table {
    border-collapse: separate;
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 50px auto;
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

thead {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

thead th {
    font-family: 'Patua One', cursive;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    text-align: left;
    padding: 20px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY0NmY3ZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRhNTU2NCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #646f7f), color-stop(100%, #4a5564));
    background-image: -moz-linear-gradient(#646f7f, #4a5564);
    background-image: -webkit-linear-gradient(#646f7f, #4a5564);
    background-image: linear-gradient(#646f7f, #4a5564);
    border-top: 1px solid #858d99;
}

thead th:first-child {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

thead th:last-child {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

tbody tr td {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #5f6062;
    font-size: 13px;
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid #e0e0e0;
}

tbody tr:nth-child(2n) {
    background: #f0f3f5;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

tbody tr:last-child td:last-child {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}