html
    head
        link(rel='stylesheet', type='text/css', href='public/stylesheets/admin.css')
        script(src="https://fb.me/react-0.14.7.js")
        script(src="https://fb.me/react-dom-0.14.7.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    body
        #courseListContainer
        script(type="text/babel" src='public/javascripts/admin.jsx')