//
   Created by omer on 29/05/2016.

doctype html
html(lang='en')
    head
        title Sentence Game
        link(href='public/stylesheets/enter.css', rel='stylesheet', type='text/css')
        script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    body.align
        .site__container
            .grid__container

                form.form.form--login(action='/games', method='post')
                    .form__field
                        label.fontawesome-user(for='username')
                            span.hidden Username
                        input#username.form__input(type='text', placeholder='Name', required='', name= 'username')
                    .form__field
                        label.fontawesome-user(for='password')
                            span.hidden Username
                        input#password.form__input(type='text', placeholder='Name', required='', name= 'password')
                    .form__field
                        input(type='submit', value='Enter')
                        span.fontawesome-arrow-right
                script.
                    $('form').submit(function () {
                        $.ajax({
                            type: 'POST',
                            url: 'login',
                            data: {
                                username: $(this).username.value,
                                password: $(this).password.value
                            }
                        });
                        return false;
                    });

