//
   Created by omer on 29/05/2016.

doctype html
html(lang='en')
    head
        title Attendance
        link(href='public/stylesheets/enter.css', rel='stylesheet', type='text/css')
        script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    body.align
        .site__container
            .grid__container

                form#formal.form.form--login()
                    .form__field
                        label.fontawesome-user(for='username')
                            span.hidden Username
                        input#username.form__input(type='text', placeholder='Userame', required='', name= 'username')
                    .form__field
                        label.fontawesome-user(for='password')
                            span.hidden Password
                        input#password.form__input(type='text', placeholder='Password', required='', name= 'password')
                    .form__field
                        input(type='submit', value='Enter')
                        span.fontawesome-arrow-right
                script.
                    $('#formal').submit(function (e) {
                        e.preventDefault();

                        $.ajax({
                            type: 'POST',
                            url: 'login',
                            data: {
                                username: $('#username').val(),
                                password: $('#password').val()
                            },
                            error:function(err){console.log(err)}
                        });
                        return false;
                    });

